footer {
  /* font-size: 1vw; */
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(9, 4.5vw);
  background-color: $grey;

  .content-wrap {
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .content-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 2.6vw;
      font-weight: 600;
      color: $black;
      width: 100%;
      text-align: center;
    }
  }

  .circle-path {
    /* font-size: 1vw; */
    width: 4em;
    height: 4em;
    margin: 10% 0 0 -25%;
    border-color: $black;
    grid-column-start: 12;
    grid-row-start: 5;
  }

  .circle {
    /* font-size: 1vw; */
    background-color: $red;
    margin-left: 25%;
    grid-column-start: 11;
    grid-row-start: 7;
  }

  
}