.orbit {
  .circle-path {
    margin: -8% 0 0 -8%;
  }

  .circle {
    margin: 22% 0 0 89%;
  }
}

.circ1 {
  width: 1.35em;
  height: 1.35em;
  grid-column-start: 13;
  grid-row-start: 3;
  margin: 20% 0 0 35%;
}

.circ2 {
  grid-column-start: 14;
  grid-row-start: 2;
  margin: 30.8% 0 0 35%;
}