@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 1.2vw;
  width: 100%;
  height: 100%;
  background-color: $dark-red;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
  background-color: $red;
  -webkit-font-smoothing: antialiased;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 3em;
  position: fixed;
  background-color: $dark-red;
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

main {
  padding-top: 3.8em;

  .headline {
    padding: 2em 5% 4em;
    background-color: $red;

    p {
      font-size: 3vw;
      font-weight: 300;
      color: $white;
      width: 100%;
      text-align: center;
    }

    span {
      color: $black;
    }
  }
}

@import 'global-classes.scss';
@import '../app/nav/nav.scss';
@import '../app/slideshow/slideshow.scss';
@import '../app/logos-container/logos-container.scss';
@import '../app/winner-container/winner-container.scss';
@import '../app/footer/footer.scss';
